@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @Html.ActionLink("Add Credit Card", "Create", "CreditCard", null, null)
    </div>
