
@{
    ViewData["Title"] = "Create";
}

<h1>
    Add Credit Card
</h1>
<div id="app">
    {{ message }}
</div>

@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/js/addcreditcard.js"></script>
}

