@{
    ViewData["Title"] = "Add Credit Card";
}
<h1>
    Add Credit Card
</h1>
<div id="app">
    <!--Vue App Start-->
    <label>Credit Card Vendor Name:</label>
    <br />
    <input v-model="cardVendor" placeholder="[Enter Credit Card Vendor Name]" size="50">
    <font color="gray">cardVendor-debug: {{ cardVendor }}</font>
    <br /><br />

    <label>Credit Card Nick Name:</label>
    <br />
    <input v-model="cardNickname" placeholder="[Enter Credit Card Nickname]" size="50">
    <font color="gray">cardNickname-debug: {{ cardNickname }}</font>
    <br /><br />

    <label>Credit Card Type:</label>
    <br />
    <select v-model="creditCardType">
        <option value="1">Visa</option>
        <option value="2">Mastercard</option>
        <option value="3">Discover</option>
        <option value="4">American Express</option>
        <option value="5">Other</option>
    </select>
    <font color="gray">creditcardtype-debug: {{ creditCardType }}</font>
    <br /><br />

    <label>Credit Card Credit Limit:</label>
    <br />
    <input v-model="cardLimit" placeholder="[Enter Credit Card Limit]" size="50">
    <font color="gray">cardLimit-debug: {{ cardLimit }}</font>
    <br /><br />

    <label>Credit Card Credit Balance:</label>
    <br />
    <input v-model="cardBalance" placeholder="[Enter Credit Card Balance]" size="50">
    <font color="gray">cardBalance-debug: {{ cardBalance }}</font>
    <br /><br />      

    <label>Add Interest Rate(s):</label>
    <table border="1">
        <thead>
            <tr>
                <th>Interest Rate %</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in interestRates">
                <td><input type="text" v-model="item.interestRate"></td>
                <td><input type="text" v-model="item.startDate"></td>
                <td><input type="text" v-model="item.endDate"></td>
                <td><button type="button" v-on:click="removeInterestRate(item)">Remove</button>
            </tr>
        </tbody>
    </table>

    <button v-on:click="addInterestRate">Add Interest</button>
    <!--Vue App End-->
</div>

@section Scripts{
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/js/addcreditcard.js"></script>
}

